<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <style>
        .footer {
            padding-top: 30px;
            margin-top: 50px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            /* background-color: lightgreen; */
            height: 180px;
        }
        
        .footercontent {
            width: 1000px;
            margin-inline: auto;
            /* text-align: center; */
            /* background-color: rgb(236, 107, 107); */
        }

        .footer .footercontent ul {
            display: flex;
            list-style: none;
        }

        .footer .footercontent ul li{
            margin-right: 20px;
        }
    </style>
</head>
<body>
    <footer>
        <div class="footer">
            <div class="footercontent">
                중고차 거래는 CarCarO<br><br>
                <ul>
                    <li>상호명: &nbsp;&nbsp;카카로 주식회사 &nbsp;&nbsp;&nbsp;&nbsp;|</li>
                    <li>대표자: &nbsp;&nbsp;손강민 &nbsp;&nbsp;&nbsp;&nbsp;|</li>
                    <li>총괄 담당자: &nbsp;&nbsp;김다훈 &nbsp;&nbsp;&nbsp;&nbsp;|</li>
                    <li>부분 담당자: &nbsp;&nbsp;이승호 &nbsp;&nbsp;&nbsp;&nbsp;|</li>
                    <li>부분 담당자: &nbsp;&nbsp;김병제</li>
                </ul><br>
                <ul>
                    <li>소재지: &nbsp;&nbsp;대구광역시 서구 서대구로7길 2 2층 &nbsp;&nbsp;&nbsp;&nbsp;|</li>
                    <li>영업일: &nbsp;&nbsp;월~금요일&nbsp;&nbsp; 09:00~18:00&nbsp;&nbsp; 공휴일 제외</li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>
