<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
  </head>
  <body>
    <div align="center">
      <h1>아이디 찾기</h1>
      찾으시는 아이디는 <%= find.id %> 입니다.
      <br />
      <hr />
      <br />
      <button onclick="window.close()">닫기</button>
      <button onclick="location.href='/auth/findpw'">비밀번호 찾기</button>
    </div>
  </body>
</html>
