<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
  </head>
  <body>
    <div align="center">
      비밀번호 수정완료
      <br />
      <hr />
      <br />
      <button onclick="window.close()">닫기</button>
    </div>
  </body>
</html>
